{% extends 'homepage/core.html'%}

{% block content %}
    <h1>Создать новую книгу</h1>
    <div class="row">
        <div class="col-lg-8">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <!-- {% if form.errors %}
                    <div id="form-error">
                        <p>Ошибка, не могу создать пост</p>
                        <ul>
                        {% for field in form %}
                        <li>{{ field.errors|striptags }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %} -->
                {{form.as_p}}
                <input type="submit" value="Скидышь" class="btn btn-primary">
            </form>
        </div>
    </div>
    

{% endblock %}